.header {
  background-color: blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
}

.language-selector {
  display: flex;
  gap: 10px;
  color: white;
  padding: 5px;
}

.language-selector button {
  margin-left: 10px;
}

.blue-button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.active {
  font-weight: bold;
}
